<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/testngdemo/src/test/java/logintest/java.java">
        <classes><class name="logintest.java"><methods><include name="setup"/></methods></class></classes></test></suite>